# Functions

A function is a block of code that is used to perform a task.It helps in organizing code,reusing code and improving readability

In [3]:
## Syntax
def function_name(parameters):
  """Docstring"""
  ## Function body
  return expression

In [4]:
def even_or_odd(nums):
  if nums % 2 == 0:
    print('The provided number is even')
  else:
    print('The number is odd')
nums = int(input('Enter your number'))

Enter your number2

In [5]:
## Why didn't the above code work?
## Because we didn't call the function

In [6]:
## Function call
nums = int(input('Enter value'))
even_or_odd(nums)

Enter value6
The provided number is even

### Function with multiple parameters

In [2]:
def func(a,b):
  return a+b
result = func(2,4)
print(result)

6

### Function with default parameters

In [7]:
def greet(name="Guest"):
  print(f"Hello {name} We welcome you to our hotel")
greet()

Hello Guest We welcome you to our hotel

## Variable length parameters
### Positional and Keywords Arguments

In [8]:
## Suppose we have a function which has a lot of parameters
def function(*args):
  for number in args:
    print(number,end=" ")
function(1,2,3,4,5,6,"Aarush","Manish")

1 2 3 4 5 6 Aarush Manish

### Keyword Arguments

In [9]:
def print_details(**kwargs):
  for key,value in kwargs.items():
    print(f"{key}:{value}")
print_details(name="Aarush",age=22,country="India")

name:Aarush
age:22
country:India

### Combine both

In [12]:
def print_details(*args,**kwargs):
  for value in args:
    print(f"Positional Argument {value}")
  for key,value in kwargs.items():
    print(f"{key}:{value}")
print_details(1,2,3,4,5,6,name="Krish Naik",age=38)

Positional Argument 1
Positional Argument 2
Positional Argument 3
Positional Argument 4
Positional Argument 5
Positional Argument 6
name:Krish Naik
age:38

## Return type

In [14]:
def multiply(a,b):
  return a*b,a,b
print(multiply(2,3),type(multiply(2,3)))

(6, 2, 3) <class 'tuple'>