# Map Function

This function is very important and it is used for applying a particular specified function to all the elements in a list or an iterable

In [1]:
numbers = [x**2 for x in range(1,11)]
list(map(lambda x : x**0.5 , numbers))

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]

This returns an map object(iterator).This is particulary for transforming data in a list comprehensively.

In [3]:
## Lambda function with map
numbers = [1,2,3,4,5,6,7,8,9,10]
squared = lambda x : x ** 2
list(map(squared,numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
## Map multiple iterables
list_1 = [1,2,3,4,5]
list_2 = [7,8,9,10,11]
list(map(lambda x,y : x+y , list_1 , list_2))

[8, 10, 12, 14, 16]

In [6]:
## Map to convert a list of strings to integers
numbers = ["23","46","73","12"]
obj = list(map(lambda x: int(x) , numbers))
print(obj,type(obj))

[23, 46, 73, 12] <class 'list'>

In [12]:
## title function conversion
names = ["aArusH","manISH","AbHAy","Tanmay"]
names = list(map(str.title,names))
print(names,type(names))

['Aarush', 'Manish', 'Abhay', 'Tanmay'] <class 'list'>

In [15]:
def get_name(person):
  return person['name']

people = [
    {'name':'Aarush','age':22},
    {'name':'Abhay','age':21}
]

list(map(get_name,people))

['Aarush', 'Abhay']