# Tuples

Tuples are basically data structure used to store data in an ordered manner and are immutable.

In [1]:
##Creating an empty tuple
empty_tuple = ()
print(empty_tuple,type(empty_tuple))
etup = tuple()
print(etup,type(etup))

() <class 'tuple'>
() <class 'tuple'>

### Mixed tuples

In [2]:
mixed_tuple = (1,"Aarush",6.1,True)
print(mixed_tuple,type(mixed_tuple))

(1, 'Aarush', 6.1, True) <class 'tuple'>

### Accessing elements

Elements are indexed from 0 to len(tuple)-1.Each element has a name that is tuple_name[index]

In [3]:
print(mixed_tuple[0])
print(mixed_tuple[-1])
print(mixed_tuple[2])

1
True
6.1

### Slicing elements

In [4]:
mixed_tuple[1:3:1]

('Aarush', 6.1)

### Reversing a tuple

In [5]:
mixed_tuple[::-1]

(True, 6.1, 'Aarush', 1)

### Concatenating tuples

In [6]:
## We can add tuples together of different datatypes and we can append same tuple to itself n number of times
mixed_tuple * 3

(1, 'Aarush', 6.1, True, 1, 'Aarush', 6.1, True, 1, 'Aarush', 6.1, True)

In [7]:
temp_tuple = ("Savita",False)
concatenated_tuple = mixed_tuple + temp_tuple
print(concatenated_tuple)

(1, 'Aarush', 6.1, True, 'Savita', False)

### Immutable Nature of Tuples

In [8]:
## Tuples differ from list only in 1 most important form and that is elements of a tuple cannot be changed once they are assigned
tpl = (1,"Aarush",True,5.7)
print(tpl,type(tpl))
tpl[1] = "Abhay"
print(tpl,type(tpl))

(1, 'Aarush', True, 5.7) <class 'tuple'>

TypeError: 'tuple' object does not support item assignment

### Way to resolve such conflict

In [9]:
tpl = list(tpl)
tpl[1] = "Abhay"
print(tpl,type(tpl))
tpl = tuple(tpl)
print(tpl,type(tpl))

[1, 'Abhay', True, 5.7] <class 'list'>
(1, 'Abhay', True, 5.7) <class 'tuple'>

### Tuple Methods

In [10]:
print(len(tpl))

4

In [11]:
## Count Method
print(tpl.count(5.7))

1

In [13]:
## Index Method
print(tpl.index('Abhay'))

1

### Why does tuples don't have more methods Simple reason immutable

## Packing and Unpacking tuples

In [16]:
packed_tuple = 1,"Aarush",True
print(packed_tuple)

(1, 'Aarush', True)

In [18]:
a,b,c = packed_tuple
print(a,b,c,sep="\n")

1
Aarush
True

In [19]:
hello = (1,2,3,4,"Aarush",34,23,12,65,23,4,2,1)
first , *middle , last = hello
print(first)
print(middle)
print(last)

1
[2, 3, 4, 'Aarush', 34, 23, 12, 65, 23, 4, 2]
1

### Nested Tuple

In [20]:
tpl = ((1,2,3,4,5,6),[True,1,False,"Savita"],(0,-1))
tpl[0][2]

3

In [21]:
tpl[1][1:3]

[1, False]