# Lists

Lists are a data structure which are a way to store data in a certain format.
Lists are ordered,mutable collection of items of different datatypes.

In [1]:
lst = ["Aarush",5.7,22,True]
print(lst,type(lst))

['Aarush', 5.7, 22, True] <class 'list'>

In [2]:
## Empty list
temp_lst = []
print(temp_lst,type(temp_lst))

[] <class 'list'>

In [3]:
## Finding number of elements in a list
print(len(lst))

4

### Indexing

We can access elements of a list as each element has a unique name in the list and we call it list_name[index]

In [4]:
print(lst[0])
print(lst[1])
print(lst[2])
print(lst[3])

Aarush
5.7
22
True

Indexing can be of two types:
  1. Positive Indexing
  2. Negative Indexing

In [5]:
print(lst[-1])

True

### Slicing a list

Slicing a list means taking out a continous subpart of the list

In [6]:
print(lst[:])
print(lst[2:])
print(lst[:2])
print(lst[::-1])
print(lst[1:3])

['Aarush', 5.7, 22, True]
[22, True]
['Aarush', 5.7]
[True, 22, 5.7, 'Aarush']
[5.7, 22]

### Modifying items

In [7]:
lst[1] = 82
print(lst,type(lst))
lst[2:]='Sachdeva'
print(lst,type(lst))

['Aarush', 82, 22, True] <class 'list'>
['Aarush', 82, 'S', 'a', 'c', 'h', 'd', 'e', 'v', 'a'] <class 'list'>

### List Methods

In [8]:
## Append - This is used to add elements to the end of a list
lst.append('80 lakhs')
print(lst,type(lst))

['Aarush', 82, 'S', 'a', 'c', 'h', 'd', 'e', 'v', 'a', '80 lakhs'] <class 'list'>

In [9]:
## Insert - This is used to insert a specific element at any position given by the programmer
lst.insert(2,'Krish Naik')
print(lst,type(lst))

['Aarush', 82, 'Krish Naik', 'S', 'a', 'c', 'h', 'd', 'e', 'v', 'a', '80 lakhs'] <class 'list'>

In [10]:
## Remove - This method removes the first occurence of the value provided
lst.remove(82)
print(lst)

['Aarush', 'Krish Naik', 'S', 'a', 'c', 'h', 'd', 'e', 'v', 'a', '80 lakhs']

In [11]:
## pop - This removes the last item of the list and returns it's value
value = lst.pop()
print(value)

80 lakhs

In [12]:
## index - It is used to find index of a particular value
indice = lst.index('Krish Naik')
print(indice)

1

In [13]:
## count - This is used to tell the frequency of an element in a list
counter = lst.count('d')
print(counter)

1

In [17]:
## sort
lst = ["english","hindi","french","marathi"]
lst.sort()

In [18]:
print(lst)

['english', 'french', 'hindi', 'marathi']

In [19]:
## reverse
lst.reverse()
print(lst)

['marathi', 'hindi', 'french', 'english']

In [20]:
## clear - removes all elements in a list
lst.clear()
print(lst)

[]

## Enumerate function

In [21]:
## If we want to iterate on the index and value of an element simulatenously we use this function
lst = [1,2,3,4,5,6,7,8,9,10]
for index,value in enumerate(lst):
  print(f"index : {index} and value : {value}")

index : 0 and value : 1
index : 1 and value : 2
index : 2 and value : 3
index : 3 and value : 4
index : 4 and value : 5
index : 5 and value : 6
index : 6 and value : 7
index : 7 and value : 8
index : 8 and value : 9
index : 9 and value : 10

## List Comprehension

In [22]:
## It is a powerful way of creating desired lists in just one single line of code

In [23]:
squared_list = [x**2 for x in lst]

In [24]:
print(squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
def ranged_prime(start,end):
  i = start
  while(i <= end):
    flag = True
    for j in range(2,i):
      if i % j == 0:
        flag = False
    if flag:
      print(f"Prime number : {i}")
    i = i + 1
ranged_prime(2,100)

Prime number : 2
Prime number : 3
Prime number : 5
Prime number : 7
Prime number : 11
Prime number : 13
Prime number : 17
Prime number : 19
Prime number : 23
Prime number : 29
Prime number : 31
Prime number : 37
Prime number : 41
Prime number : 43
Prime number : 47
Prime number : 53
Prime number : 59
Prime number : 61
Prime number : 67
Prime number : 71
Prime number : 73
Prime number : 79
Prime number : 83
Prime number : 89
Prime number : 97

In [28]:
## The above could also be done by 1 line of code
prime_range = [x for x in range(2,100) if all(x%j for j in range(2,x))]
print(prime_range)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

## Nested List Comprehension

In [30]:
lst_1 = [1,2,3,4,5,6,7,8,9,10]
lst_2 = ['1 lakh','2 lakh','3 lakh','4 lakh','5 lakh','6 lakh','7 lakh','8 lakh','9 lakh','10 lakh']
money = [[i,j] for i in lst_1 for j in lst_2]
print(money)

[[1, '1 lakh'], [1, '2 lakh'], [1, '3 lakh'], [1, '4 lakh'], [1, '5 lakh'], [1, '6 lakh'], [1, '7 lakh'], [1, '8 lakh'], [1, '9 lakh'], [1, '10 lakh'], [2, '1 lakh'], [2, '2 lakh'], [2, '3 lakh'], [2, '4 lakh'], [2, '5 lakh'], [2, '6 lakh'], [2, '7 lakh'], [2, '8 lakh'], [2, '9 lakh'], [2, '10 lakh'], [3, '1 lakh'], [3, '2 lakh'], [3, '3 lakh'], [3, '4 lakh'], [3, '5 lakh'], [3, '6 lakh'], [3, '7 lakh'], [3, '8 lakh'], [3, '9 lakh'], [3, '10 lakh'], [4, '1 lakh'], [4, '2 lakh'], [4, '3 lakh'], [4, '4 lakh'], [4, '5 lakh'], [4, '6 lakh'], [4, '7 lakh'], [4, '8 lakh'], [4, '9 lakh'], [4, '10 lakh'], [5, '1 lakh'], [5, '2 lakh'], [5, '3 lakh'], [5, '4 lakh'], [5, '5 lakh'], [5, '6 lakh'], [5, '7 lakh'], [5, '8 lakh'], [5, '9 lakh'], [5, '10 lakh'], [6, '1 lakh'], [6, '2 lakh'], [6, '3 lakh'], [6, '4 lakh'], [6, '5 lakh'], [6, '6 lakh'], [6, '7 lakh'], [6, '8 lakh'], [6, '9 lakh'], [6, '10 lakh'], [7, '1 lakh'], [7, '2 lakh'], [7, '3 lakh'], [7, '4 lakh'], [7, '5 lakh'], [7, '6 lakh'], [7, '7 lakh'], [7, '8 lakh'], [7, '9 lakh'], [7, '10 lakh'], [8, '1 lakh'], [8, '2 lakh'], [8, '3 lakh'], [8, '4 lakh'], [8, '5 lakh'], [8, '6 lakh'], [8, '7 lakh'], [8, '8 lakh'], [8, '9 lakh'], [8, '10 lakh'], [9, '1 lakh'], [9, '2 lakh'], [9, '3 lakh'], [9, '4 lakh'], [9, '5 lakh'], [9, '6 lakh'], [9, '7 lakh'], [9, '8 lakh'], [9, '9 lakh'], [9, '10 lakh'], [10, '1 lakh'], [10, '2 lakh'], [10, '3 lakh'], [10, '4 lakh'], [10, '5 lakh'], [10, '6 lakh'], [10, '7 lakh'], [10, '8 lakh'], [10, '9 lakh'], [10, '10 lakh']]