# Python

Python is a case-sensitive language

In [1]:
## Both have same spellings but differ in the value each one is storing
name = "Aarush"
Name = "Krish"
print(name)
print(Name)

Aarush
Krish

### Comments

Comments are basically used for writing information that we may forget after some while.It can contain information such as why a piece of code was written and what task is that piece of code performing It is ignored by compiler or interpretor of Python and removed while the file is being preprocessed.

In [2]:
# - Syntax used for single line comments
''' This is a multi line string
we can use it'''

' This is a multi line string\nwe can use it'

##Identation

This is a very important concept in Python.In Python, we use identation to delimit blocks of code.Basically, if we have to tell what task of code has to be executed if a condition is true or false then we have to write it in a block so Python uses identation to assign a set of statements that will be executed only if a condition is true inside a block of that condition for that we use identation.Consistent use of spaces (generally 4) or a tab is used to represent identation which means this code or set of instructions is inside a particular block which will execute when the condition in the block is true.It defines the hierachy or structure of the code.Unlike other languages that use scope {} to delimit blocks of code Python groups statements by identation.Identation makes sure that all statements within a block are to be idented at same level unless they have nesting.

In [3]:
age = 64
if age > 64:
  print("You are above the life expentency age in India")

### Line continuation

In [4]:
total_sum = 1 + 2 + 3 + 4 + 5 + 6 + \
7 + 8 + 9 + 10 + 11 + 12

### Multiple statements in a single line

In [5]:
x = 10; y = 3; z = x + y
print(z)

13

## Variable assignment and dynamic typing

Variables are names or references in Python that are used to point at the objects or memory blocks which are created on the heap to store values of different datatypes They are pointers basically in Python as we don't assign them memory of the block such as in other languages

Dynamic Typing
It is a concept in which we don't have to assign the datatype of the variable before hand as the type of data in the variable is inferenced at runtime due to variables not being memory blocks Memory blocks can be seen as containers which store values

In [6]:
name = "Aarush"
print(name,type(name))
name = 6.1
print(name,type(name))

Aarush <class 'str'>
6.1 <class 'float'>

In [7]:
## Boolean Variables
isMale = True
print(isMale,type(isMale))

True <class 'bool'>

Identifiers are names given to variables,classes,objects and other items in Python
Naming convention in Python:
  1.The name should start with a underscore or a letter
  2.It cannot contain any other special character
  3.It can contain numbers,letters
  4.It cannot be a keyword

In [8]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### Type Conversion

We can convert a datatype from one value to another datatype using some in-built functions in Python like str(),bool(),int(),float()

Always remember conversion happens in such a way that data is not lost

In [9]:
name = '56'
print(name,type(name))
name = float(name)
print(name,type(name))

56 <class 'str'>
56.0 <class 'float'>

## Input function

### The input function by default takes a string as a universal input.We then convert using type conversion to our suitable datatype according to our needs

In [10]:
number = int(input('Enter any number'))
print(number,type(number))

Enter any number13
13 <class 'int'>

## Datatypes in Python

Datatypes are nothing but the type of data that we store.We can store data of different types like integer , text or decimal value

In [11]:
## Integer
a = 100
print(a,type(a))

100 <class 'int'>

In [12]:
## Float
b = 6.1
print(b,type(b))

6.1 <class 'float'>

In [13]:
## Boolean
isMale = True
print(isMale,type(isMale))

True <class 'bool'>

In [14]:
## String
text = "Hi! I am Aarush"
print(text,type(text))

Hi! I am Aarush <class 'str'>

In [15]:
## Complex Number
c = 4 + 5j
print(c,type(c))

(4+5j) <class 'complex'>

None is a special datatype which is used in Python.In Python,we cannot declare variables without initializing them as variables are just pointers they are not memory blocks that require space that's why we use None datatype to allocate variables or declare them

In [16]:
## None
z = None

### Operators

Operators provide a method for manipulating values based on the input data

In [17]:
## Arithmetic Operators
a , b = int(input('Enter the first value')) , int(input('Enter the second value'))

text = input('Choose the operation you want to perform ("+","-","*","/","//","%","**")')

if text == '+':
  print(f"The result of a + b is : {a+b}")
elif text == '-':
  print(f"The result of a - b is : {a-b}")
elif text == '*':
  print(f"The result of a * b is : {a*b}")
elif text == '/':
  print(f"The result of a / b is : {a/b}")
elif text == '//':
  print(f"The result of a // b is : {a//b}")
elif text == '%':
  print(f"The result of a % b is : {a%b}")
elif text == '**':
  print(f"The result of a ** b is : {a**b}")
else:
  print(f"Invalid Operation")

Enter the first value43
Enter the second value26
Choose the operation you want to perform ("+","-","*","/","//","%","**")/
The result of a / b is : 1.6538461538461537

In [19]:
## Relational Operators
a , b = int(input('Enter the 1st number')) , int(input('Enter the 2nd number'))

text = (input('Enter the operation you want to perform (">","<",">=","<=","==","!="'))

if text == '>':
  print(f"The operation is greater than and the result for a > b is : {a>b}")
elif text == '<':
  print(f"The operation is less than and the result for a < b is : {a<b}")
elif text == '>=':
  print(f"The operation is greater than or equal to and the result for a >= b is : {a>=b}")
elif text == '<=':
  print(f"The operation is less than or equal to and the result for a <= b is : {a<=b}")
elif text == '==':
  print(f"The operation is equal to equal to and we are checking if a and b have equal value stored in them : {a==b}")
elif text == '!=':
  print(f"The operation is not equal to and the values on comparsion are not equal : {a != b}")

Enter the 1st number43
Enter the 2nd number73
Enter the operation you want to perform (">","<",">=","<=","==","!="!=
The operation is not equal to and the values on comparsion are not equal : True

In [20]:
## Logical Operators
X = True
Y = False
print(X and Y)
print(X or Y)
print(not X)
print(not Y)

False
True
False
True

In [21]:
## Special operators
if 'D' in 'Delhi':
  print(f"The letter 'D' is present in Delhi")
elif 'A' not in 'Aarush':
  print("This is not true")

The letter 'D' is present in Delhi

In [22]:
## Assignment Operator
a = 500
print(a,type(a))

500 <class 'int'>

## Loops

Loops in Python are very essential and fundamental.Whenever we encounter a task, where we are supposed to do or repeat a certain group of actions again and again till a condition is being satisfied we can replace that with the help of a loop.A loop is used for such purposes.
A loop has three parts:-
  1.Intialization of looping variable : This requires intializing a looping variable which is used to keep track of how many times I have repeated a group of actions and from where did I start the loop and to compare with the condition when we will stop executing.
  2.Condition Check : We will check the looping variable with condition.This will tell us till when we have to repeat our group of actions.
  3.Updation : When we execute our group of actions,we will update our looping variable to keep a track that now we have to perform the task a certain less number of times and we have performed a certain number of times

In [23]:
## for loop
## range function - It is used to provide a sequence of numbers from the start specificed till the end - 1
for i in range(100):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [24]:
for i in range(5,100,8):
  print(i)

5
13
21
29
37
45
53
61
69
77
85
93

In [25]:
for char in 'Delhi':
  print(char)

D
e
l
h
i

In [26]:
## while loop
i = 1
while(i<=100):
  print(i)
  i = i + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [27]:
## while loop with else
i = 1
while (i <= 100):
  print(i)
  i = i + 1
else:
  print(f"We are now outside while loop")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
We are now outside while loop

### Loop control statements

In [28]:
## break
for i in range(1,100):
  if i == 50:
    break
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [29]:
## continue
for i in range(1,40,1):
  if i == 6:
    continue
  print(i)

1
2
3
4
5
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39

In [30]:
## pass statement
for i in range(1,100):
  if i == 3:
    print("I am Aarush")
    pass
  print(i)

1
2
I am Aarush
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99