#Dictionaries

They are a data structures which can store data in key value pairs.It is unordered,mutable data types.

The keys in dictionaries are unique and immutable(e.g like strings,numbers and tuples)

In [2]:
dictionary = {}
print(dictionary,type(dictionary))

{} <class 'dict'>

In [3]:
dictionary_1 = dict()
print(dictionary_1,type(dictionary_1))

{} <class 'dict'>

In [4]:
## Dictionary
dictionary = {"name":"Aarush","age":22,"isMale":True}
print(dictionary,type(dictionary))

{'name': 'Aarush', 'age': 22, 'isMale': True} <class 'dict'>

In [5]:
## Making a key which is coming more than twice
dictionary["name"]="Krish"
print(dictionary,type(dictionary))

{'name': 'Krish', 'age': 22, 'isMale': True} <class 'dict'>

In [7]:
dictionary["age"]

22

In [8]:
dictionary.get("isMale")

True

### Getting all keys

In [9]:
keys = dictionary.keys()
print(keys)

dict_keys(['name', 'age', 'isMale'])

### Getting all values

In [10]:
values = dictionary.values()
print(values)

dict_values(['Krish', 22, True])

### Getting all values

In [11]:
items = dictionary.items()
print(items)

dict_items([('name', 'Krish'), ('age', 22), ('isMale', True)])

### Shallow Copy

In [12]:
dictionary_copy = dictionary.copy()
dictionary["name"]="Savita"
print(dictionary)
print(dictionary_copy)

{'name': 'Savita', 'age': 22, 'isMale': True}
{'name': 'Krish', 'age': 22, 'isMale': True}

### Iterating over dictionaries

In [13]:
for key in dictionary.keys():
  print(key,end=" ")

name age isMale

In [14]:
for value in dictionary.values():
  print(value,end=" ")

Savita 22 True

In [15]:
for key,value in dictionary.items():
  print(key,value,end=" ")

name Savita age 22 isMale True

## Nested Dictionaries

In [17]:
students = {
    "student1":{"name":"Aarush","age":22,"isMale":True},
    "student2":{"name":"Tanmay","age":22,"isMale":True}
}

In [18]:
## Elements of nested dictionary
students['student1']['name']

'Aarush'

In [19]:
for student_id,student_info in students.items():
  print(f"{student_id}:{student_info}")
  for key,value in student_info.items():
    print(f"{key}:{value}")

student1:{'name': 'Aarush', 'age': 22, 'isMale': True}
name:Aarush
age:22
isMale:True
student2:{'name': 'Tanmay', 'age': 22, 'isMale': True}
name:Tanmay
age:22
isMale:True

In [20]:
## Dictionary Comprehension
squares = {x:x**2 for x in range(11)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [21]:
## Conditional Dictionary Comprehension
evens = {x:x**2 for x in range(11) if x%2 == 0}

### Frequency of a number in list using dictionary

In [22]:
number = [0,0,1,1,1,2,2,2,2,3,4,4,5,5,5]
frequency = {}
for num in number:
  if num in frequency:
    frequency[num]+=1
  else:
    frequency[num]=1
print(frequency)

{0: 2, 1: 3, 2: 4, 3: 1, 4: 2, 5: 3}

In [24]:
d1 = {"name":"Manish","salary":"10 lakhs","age":52}
d2 = {"salary":"20 lakhs","age":53}
d1.update(d2)
print(d1)

{'name': 'Manish', 'salary': '20 lakhs', 'age': 53}