# Pandas

Pandas is a powerful data manipulation library that is used for data analysis and data cleaning.It provides two powerful data structures : Series and DataFrames.A Series is a 1-Dimensional array like object while a Data Frame is a two dimensional,size mutable and potentially heterogenous data structure which is represented in a tabular structure in the form of rows and columns

In [3]:
import pandas as pd

In [2]:
## Series
## It is a one dimensional array like object which can contain data of any type.It is like a column of a table

In [4]:
numbers = [1,2,3,4,5,6]
series = pd.Series(numbers)
print(series,type(series))

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64 <class 'pandas.core.series.Series'>

In [5]:
## Creating a series from a dictionary
dictionary = {'name':'Aarush','age':'22'}
series_dictionary = pd.Series(dictionary)
print(series_dictionary,type(series_dictionary))

name    Aarush
age         22
dtype: object <class 'pandas.core.series.Series'>

In [6]:
## Creating a series from 2 different lists of values and indexes
values = [10,20,30]
indices = ['a','b','c']
dictionary = pd.Series(values,index=indices)

Basically when you see a sheet in Excel it can be loaded in a dataframe in Pandas

In [7]:
## DataFrame
## Creating a dataframe from a dictionary of lists
data = {
    'Name':['Krish','John','Jack'],
    'age':[25,30,45],
    'City':['Bangalore','New York','Texas']
}

In [8]:
df = pd.DataFrame(data)
print(df)

    Name  age       City
0  Krish   25  Bangalore
1   John   30   New York
2   Jack   45      Texas

In [9]:
## Converting dataframe to a numpy array
import numpy as np
np.array(df)

array([['Krish', 25, 'Bangalore'],
       ['John', 30, 'New York'],
       ['Jack', 45, 'Texas']], dtype=object)

In [10]:
## Create a dataframe from a list of dictionaries
data = [
    {'Name':'Aarush','age':22},
    {'Name':'Abhay','age':21},
    {'Name':'Manish','age':53}
]
dataframe = pd.DataFrame(data)
print(dataframe)

     Name  age
0  Aarush   22
1   Abhay   21
2  Manish   53

In [11]:
## Reading Files like csv
df = pd.read_csv('data.csv')
df.head()

         Date Category  Value   Product  Sales Region
0  2023-01-01        A   28.0  Product1  754.0   East
1  2023-01-02        B   39.0  Product3  110.0  North
2  2023-01-03        C   32.0  Product2  398.0   East
3  2023-01-04        B    8.0  Product1  522.0   East
4  2023-01-05        B   26.0  Product3  869.0  North

In [12]:
df.tail()

          Date Category  Value   Product  Sales Region
45  2023-02-15        B   99.0  Product2  599.0   West
46  2023-02-16        B    6.0  Product1  938.0  South
47  2023-02-17        B   69.0  Product3  143.0   West
48  2023-02-18        C   65.0  Product3  182.0  North
49  2023-02-19        C   11.0  Product3  708.0  North

## Pick up a single series

In [13]:
df['Date']

0     2023-01-01
1     2023-01-02
2     2023-01-03
3     2023-01-04
4     2023-01-05
5     2023-01-06
6     2023-01-07
7     2023-01-08
8     2023-01-09
9     2023-01-10
10    2023-01-11
11    2023-01-12
12    2023-01-13
13    2023-01-14
14    2023-01-15
15    2023-01-16
16    2023-01-17
17    2023-01-18
18    2023-01-19
19    2023-01-20
20    2023-01-21
21    2023-01-22
22    2023-01-23
23    2023-01-24
24    2023-01-25
25    2023-01-26
26    2023-01-27
27    2023-01-28
28    2023-01-29
29    2023-01-30
30    2023-01-31
31    2023-02-01
32    2023-02-02
33    2023-02-03
34    2023-02-04
35    2023-02-05
36    2023-02-06
37    2023-02-07
38    2023-02-08
39    2023-02-09
40    2023-02-10
41    2023-02-11
42    2023-02-12
43    2023-02-13
44    2023-02-14
45    2023-02-15
46    2023-02-16
47    2023-02-17
48    2023-02-18
49    2023-02-19
Name: Date, dtype: object

In [14]:
## Pick up the first row
df.loc[0]

Date        2023-01-01
Category             A
Value             28.0
Product       Product1
Sales            754.0
Region            East
Name: 0, dtype: object

In [15]:
## Pick up the first row
df.iloc[0]

Date        2023-01-01
Category             A
Value             28.0
Product       Product1
Sales            754.0
Region            East
Name: 0, dtype: object

In [20]:
df.loc[0,'Date']

'2023-01-01'

In [24]:
## Accessing a specified element
print(df.at[1,'Value'])

39.0

In [25]:
## iat
df.iat[2,2]

np.float64(32.0)

In [28]:
## Data Manipulation with DataFrame
df['Time'] = ['1 pm' for x in range(len(df))]

In [29]:
df.head()

         Date Category  Value   Product  Sales Region  Time
0  2023-01-01        A   28.0  Product1  754.0   East  1 pm
1  2023-01-02        B   39.0  Product3  110.0  North  1 pm
2  2023-01-03        C   32.0  Product2  398.0   East  1 pm
3  2023-01-04        B    8.0  Product1  522.0   East  1 pm
4  2023-01-05        B   26.0  Product3  869.0  North  1 pm

## Axis
It has two values one is row value indices and second is column value indices

In [ ]:
## axis = 0 for row and axis = 1 for column

In [32]:
## Remove a column
df.drop('Time',axis=1)
## Temporary step

          Date Category  Value   Product  Sales Region
0   2023-01-01        A   28.0  Product1  754.0   East
1   2023-01-02        B   39.0  Product3  110.0  North
2   2023-01-03        C   32.0  Product2  398.0   East
3   2023-01-04        B    8.0  Product1  522.0   East
4   2023-01-05        B   26.0  Product3  869.0  North
5   2023-01-06        B   54.0  Product3  192.0   West
6   2023-01-07        A   16.0  Product1  936.0   East
7   2023-01-08        C   89.0  Product1  488.0   West
8   2023-01-09        C   37.0  Product3  772.0   West
9   2023-01-10        A   22.0  Product2  834.0   West
10  2023-01-11        B    7.0  Product1  842.0  North
11  2023-01-12        B   60.0  Product2    NaN   West
12  2023-01-13        A   70.0  Product3  628.0  South
13  2023-01-14        A   69.0  Product1  423.0   East
14  2023-01-15        A   47.0  Product2  893.0   West
15  2023-01-16        C    NaN  Product1  895.0  North
16  2023-01-17        C   93.0  Product2  511.0  South
17  2023-01-18        C    NaN  Product1  108.0   West
18  2023-01-19        A   31.0  Product2  578.0   West
19  2023-01-20        A   59.0  Product1  736.0   East
20  2023-01-21        C   82.0  Product3  606.0  South
21  2023-01-22        C   37.0  Product2  992.0  South
22  2023-01-23        B   62.0  Product3  942.0  North
23  2023-01-24        C   92.0  Product2  342.0   West
24  2023-01-25        A   24.0  Product2  458.0   East
25  2023-01-26        C   95.0  Product1  584.0   West
26  2023-01-27        C   71.0  Product2  619.0  North
27  2023-01-28        C   56.0  Product2  224.0  North
28  2023-01-29        B    NaN  Product3  617.0  North
29  2023-01-30        C   51.0  Product2  737.0  South
30  2023-01-31        B   50.0  Product3  735.0   West
31  2023-02-01        A   17.0  Product2  189.0   West
32  2023-02-02        B   63.0  Product3  338.0  South
33  2023-02-03        C   27.0  Product3    NaN   East
34  2023-02-04        C   70.0  Product3  669.0   West
35  2023-02-05        B   60.0  Product2    NaN   West
36  2023-02-06        C   36.0  Product3  177.0   East
37  2023-02-07        C    2.0  Product1    NaN  North
38  2023-02-08        C   94.0  Product1  408.0  South
39  2023-02-09        A   62.0  Product1  155.0   West
40  2023-02-10        B   15.0  Product1  578.0   East
41  2023-02-11        C   97.0  Product1  256.0   East
42  2023-02-12        A   93.0  Product3  164.0   West
43  2023-02-13        A   43.0  Product3  949.0   East
44  2023-02-14        A   96.0  Product3  830.0   East
45  2023-02-15        B   99.0  Product2  599.0   West
46  2023-02-16        B    6.0  Product1  938.0  South
47  2023-02-17        B   69.0  Product3  143.0   West
48  2023-02-18        C   65.0  Product3  182.0  North
49  2023-02-19        C   11.0  Product3  708.0  North

In [33]:
df

          Date Category  Value   Product  Sales Region  Time
0   2023-01-01        A   28.0  Product1  754.0   East  1 pm
1   2023-01-02        B   39.0  Product3  110.0  North  1 pm
2   2023-01-03        C   32.0  Product2  398.0   East  1 pm
3   2023-01-04        B    8.0  Product1  522.0   East  1 pm
4   2023-01-05        B   26.0  Product3  869.0  North  1 pm
5   2023-01-06        B   54.0  Product3  192.0   West  1 pm
6   2023-01-07        A   16.0  Product1  936.0   East  1 pm
7   2023-01-08        C   89.0  Product1  488.0   West  1 pm
8   2023-01-09        C   37.0  Product3  772.0   West  1 pm
9   2023-01-10        A   22.0  Product2  834.0   West  1 pm
10  2023-01-11        B    7.0  Product1  842.0  North  1 pm
11  2023-01-12        B   60.0  Product2    NaN   West  1 pm
12  2023-01-13        A   70.0  Product3  628.0  South  1 pm
13  2023-01-14        A   69.0  Product1  423.0   East  1 pm
14  2023-01-15        A   47.0  Product2  893.0   West  1 pm
15  2023-01-16        C    NaN  Product1  895.0  North  1 pm
16  2023-01-17        C   93.0  Product2  511.0  South  1 pm
17  2023-01-18        C    NaN  Product1  108.0   West  1 pm
18  2023-01-19        A   31.0  Product2  578.0   West  1 pm
19  2023-01-20        A   59.0  Product1  736.0   East  1 pm
20  2023-01-21        C   82.0  Product3  606.0  South  1 pm
21  2023-01-22        C   37.0  Product2  992.0  South  1 pm
22  2023-01-23        B   62.0  Product3  942.0  North  1 pm
23  2023-01-24        C   92.0  Product2  342.0   West  1 pm
24  2023-01-25        A   24.0  Product2  458.0   East  1 pm
25  2023-01-26        C   95.0  Product1  584.0   West  1 pm
26  2023-01-27        C   71.0  Product2  619.0  North  1 pm
27  2023-01-28        C   56.0  Product2  224.0  North  1 pm
28  2023-01-29        B    NaN  Product3  617.0  North  1 pm
29  2023-01-30        C   51.0  Product2  737.0  South  1 pm
30  2023-01-31        B   50.0  Product3  735.0   West  1 pm
31  2023-02-01        A   17.0  Product2  189.0   West  1 pm
32  2023-02-02        B   63.0  Product3  338.0  South  1 pm
33  2023-02-03        C   27.0  Product3    NaN   East  1 pm
34  2023-02-04        C   70.0  Product3  669.0   West  1 pm
35  2023-02-05        B   60.0  Product2    NaN   West  1 pm
36  2023-02-06        C   36.0  Product3  177.0   East  1 pm
37  2023-02-07        C    2.0  Product1    NaN  North  1 pm
38  2023-02-08        C   94.0  Product1  408.0  South  1 pm
39  2023-02-09        A   62.0  Product1  155.0   West  1 pm
40  2023-02-10        B   15.0  Product1  578.0   East  1 pm
41  2023-02-11        C   97.0  Product1  256.0   East  1 pm
42  2023-02-12        A   93.0  Product3  164.0   West  1 pm
43  2023-02-13        A   43.0  Product3  949.0   East  1 pm
44  2023-02-14        A   96.0  Product3  830.0   East  1 pm
45  2023-02-15        B   99.0  Product2  599.0   West  1 pm
46  2023-02-16        B    6.0  Product1  938.0  South  1 pm
47  2023-02-17        B   69.0  Product3  143.0   West  1 pm
48  2023-02-18        C   65.0  Product3  182.0  North  1 pm
49  2023-02-19        C   11.0  Product3  708.0  North  1 pm

In [35]:
df.drop('Time',axis = 1,inplace = True)
df.head()

         Date Category  Value   Product  Sales Region
0  2023-01-01        A   28.0  Product1  754.0   East
1  2023-01-02        B   39.0  Product3  110.0  North
2  2023-01-03        C   32.0  Product2  398.0   East
3  2023-01-04        B    8.0  Product1  522.0   East
4  2023-01-05        B   26.0  Product3  869.0  North

In [37]:
## Modify Columns
df['Value'] = df['Value'] + 1
df.head()

         Date Category  Value   Product  Sales Region
0  2023-01-01        A   29.0  Product1  754.0   East
1  2023-01-02        B   40.0  Product3  110.0  North
2  2023-01-03        C   33.0  Product2  398.0   East
3  2023-01-04        B    9.0  Product1  522.0   East
4  2023-01-05        B   27.0  Product3  869.0  North

In [38]:
## To remove rows
df.drop(0,inplace=True)

In [39]:
## Display datatypes of each column
print("Data type :\n",df.dtypes)

Data type :
 Date         object
Category     object
Value       float64
Product      object
Sales       float64
Region       object
dtype: object

In [40]:
## Describe the Dataframe
print("Statistical summary :\n",df.describe())

Statistical summary :
             Value       Sales
count   46.000000   45.000000
mean    53.260870  552.755556
std     29.152804  276.075513
min      3.000000  108.000000
25%     29.000000  338.000000
50%     56.000000  584.000000
75%     71.000000  772.000000
max    100.000000  992.000000

In [41]:
## Group by a column and perform operations
grouped = df.groupby('Category')['Value'].mean()
print("Mean value by category:\n",grouped)

Mean value by category:
 Category
A    50.923077
B    45.142857
C    60.842105
Name: Value, dtype: float64